
:root {
    --primary-color: #f4c531;
    --secondary-color: #ffffff;
    --third-color: #588996;
    --four-color: #000000;
}

h1.ml8 {
    font-weight: 800;
    font-size: 5.5em;
    color: var(--secondary-color);
    width: 3em;
    height: 4em;
  }
  
  .ml8 .letters-container {
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    height: 1em;
  }
  
  .ml8 .letters {
    font-family: 'Nabla', cursive !important;
    position: relative;
    z-index: 2;
    display: inline-block;
    line-height: 0.7em;
    right: -0.12em;
    top: -1.1em;
  }
  
  .ml8 .bang {
    font-size: 1.4em;
    top: auto;
    left: -0.06em;
    bottom: 48px;
  }
  
  .ml8 .circle {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 134px;
  }
  
  .ml8 .circle-white {
    width: 2em;
    height: 2em;
    border: 2px dashed var(--secondary-color);
    border-radius: 2em;
    bottom: 267px;
  }
  
  .ml8 .circle-dark {
    width: 4em;
    height: 4em;
    background-color: var(--third-color);
    border-radius: 3em;
    z-index: 1;
    bottom: 267px;
  }
  
  .ml8 .circle-dark-dashed {
    border-radius: 2.4em;
    background-color: transparent;
    border: 2px dashed var(--third-color);
    width: 4.4em;
    height: 4.4em;
  }

.card {
    background-image: url(../imgs/vetor.jpg);
    height: 108px;
    width: 108px;
    border-radius: 14px;
    background-size: 555px;
    background-repeat: no-repeat;
}

.first-card, .orange, .avocado, .kiwi, .watermelon, .pumpikin, .pear, .lemon, .grape  {
    background-position-y: -45px;
}

.orange {
    background-position-x: -55px;
}

.avocado {
    background-position-x: -170px;
}

.kiwi {
    background-position-x: -285px;
}

.pumpkin {
    background-position-y: -166px;
    background-position-x: -55px;
}

.pear {
    background-position-x: -170px;
    background-position-y: -406px;
}

.lemon {
    background-position-x: -401px;
    background-position-y: -407px;
}

.grape {
    background-position-y: -406px;
    background-position-x: -55px;
}

.watermelon {
    background-position-y: -286px;
    background-position-x: -54px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: var(--primary-color);
}

.wrapper {
    box-sizing: content-box;
    padding: 2.5em 3em;
    background-color: var(--secondary-color);
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 0.6em;
    box-shadow: 0 0.9em 2.8em rgba(86, 66, 0, 0.2);
}

.game-container {
    position: relative;
    width: 100%;
    display: grid;
    gap: 0.6em;
}

.status-container {
    text-align: right;
    margin-bottom: 1.2em;
}

.status-container span {
    font-weight: 600;
}

.card-container {
    position: relative;
    width: 6.25em;
    height: 6.25em;
    cursor: pointer;
}

.card-before,
.card-after {
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.7s ease-out;
    backface-visibility: hidden;
}

.card-before {
    background-color: var(--primary-color);
    font-size: 2.8em;
    font-weight: 600;
}

.card-after {
    background-color: var(--secondary-color);
    transform: rotateY(180deg);
}

.card-container.flipped .card-before {
    transform: rotateY(180deg);
}

.card-container.flipped .card-after {
    transform: rotateY(0deg);
}

.controls-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    top: 0;
}

button {
    border: none;
    border-radius: 0.8em;
    padding: 1em 1.5em;
    cursor: pointer;
    position: relative;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    user-select:none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 0.6em 2em rgba(86, 66, 0, 0.3)
}

button:hover {
    transition-duration: 0.1s;
    background-color: hsla(46, 90%, 57%, 0.705);
  }
  
button:active {
    top: 1px;
  }

#continue{
    margin-top: 10px;
    margin-left: 110px;
}

#stop {
    font-size: 1.1em;
    display: block;
    margin: 1.1em auto 0 auto;
    background-color: var(--four-color);
    color: #ffffff;
}

#start {
    margin: 10px;
    color:#fff;
    background-color: #588996;
    border-radius: 20px;
    z-index: 1;
    box-shadow: 0 0.6em 2em rgba(2, 2, 1, 0.3);
    font-size: 16px;
}

#start:hover {
    transition-duration: 0.1s;
    background-color: hsla(46, 90%, 57%, 0.705);
  }
  

.controls-container button {
    font-size: 1.3em;
}

.hide{
    display: none;
}

#result {
    text-align:center;
}

#result h2 {
    font-size: 2.5em;
}

#result h4 {
    font-size: 1.8em;
    margin: 0.6em 0 1em 0;
}